name: CI

on:
  push:
    branches:
      - main
  pull_request:
    paths:
    - '**.zig'
    - '**.zon'
    - '**.c'
    - '**.h'

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - uses: mlugg/setup-zig@v1
        with:
          version: master

      - name: Build
        run: zig build

      # - name: Build 32-bit
      #   run: zig build -Dtarget=arm-linux
      #   if: matrix.os == 'ubuntu-latest'

      - name: Build release
        run: zig build --release=safe

      - name: Run Tests
        run: zig build test
        if: matrix.os == 'ubuntu-latest'

      - name: Run Tests
        run: zig build test-fmt test-unit test-macros test-translate
        if: matrix.os != 'ubuntu-latest'
